#payment {
    margin-top: 9em; /*set to a negative number 1/2 of your height*/
}

#login_button{
    text-decoration: none;
}
.navbar {
    border-top: none;
}
.navbar-nav .nav-item {
    margin: auto 10px;
    text-align: center;
    color: gray;
    padding: 10px;
}
.navbar-nav .nav-item a, .navbar-nav .nav-item select {
    color: gray;
}
.navbar-nav .nav-item select {
    transform: translateY(1px);
}
.navbar-nav .nav-item a:hover {
    color: white;
}
#product_button{
    text-decoration: none;
}

#home_lbl{
    font-size: 80px;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translatey(-50%);
}

#parent_div{
    position:absolute;
    top:45%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    width: 80%;
    height: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
}

#rememberme{
    text-align: center;
}

#forgotpassword{
    text-align: center;
    text-decoration: none;
}

.card_widget{
    height: auto !important;
}

.product_list{
    margin-top:10vh;
    justify-content: center;
    height: 100%;
    align-items: center;    
}

#product_detail_text{
    font-size: 1.275rem;
}